@model dynamic

@{
    ViewBag.Title = "Kata Bank OCR - Jake Brewer"; 
}

<h2>KataBankOCR</h2>

@using (Html.BeginForm("Index", "KataBank", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <span><input type="file" name="file" class="form-control" style="display:inline" /></span>
    <span><input type="submit" value="Upload" /></span>
}