@{
    ViewBag.Title = "Contact";
}

<address>
    343 e graham ave<br />
    Council Bluffs, IA 51503<br />    
</address>

<address>
    <a href="http://careers.stackoverflow.com/jacobbrewer">Resume</a>    
</address>